<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Spanish restaurants in Tokyo</h1>
    <div>
        <a href="/restaurants/new">Create a new restaurant</a>
    </div>

    <div class="row align-items-start">
        <% for(let restaurant of restaurants) { %>
        <div class="col-xs-12 col-sm-6 col-lg-4 card">
            <img src="<%= restaurant.image %>" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= restaurant.title %></h5>
                <p class="card-text">
                    <small class="text-muted"><%= restaurant.location %></small>
                </p>
                <a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">
                    View in GoogleMaps
                </a>
                <a href="/restaurants/<%= restaurant._id %>" class="card-link">
                    Details
                </a>
            </div>
        </div>
        <% } %>
    </div>
</div>